
  /* Main */
  	#main {
				padding: 6em 0 6em 0;
			}

	/* Wrappers */

	#main-wrapper {
		background: #fff;
		border-top: solid 15px #c1cac5;
		border-bottom: solid 15px #c1cac5;
		border-top-width: 35px;
		border-bottom-width: 10px;
	}

    #about-page {
    padding: 11em 0;
    }
/*Banner*/
  #banner-wrapper {
				padding: 11em 0;
        background-image: url("./images/background.jpg");
        background-position: center;
        background-size: auto, 100% 250%;
        padding: 9em 0 5em 0;
			}

  #banner {
    padding: 5em 0;
		position: relative;
		background-color: rgba(216,178,216, 0.4);
		background-image: url("./images/overlay.png"), url("./images/highlight.png");
		background-position: top left, center center;
		background-size: auto, 100% 250%;
		background-repeat: repeat, no-repeat;
		margin: 0;
	}

/* Footer */

	#footer a {
		color: inherit;
	}

	#footer h2.major span {
		background: #f2f5f3;
	}

  #footer {
    text-align: center;
				padding: 4em 20px 2em 20px;
			}

				#footer > .row {
					padding: 1em 0 1em 0;
				}

/* Copyright */

	#copyright {
    margin: 4em 0 0 0;
		display: inline-block;
    width: 100%;
		background: #e7eae8;
		padding: 0.75em 2em 0.75em 2em;
		border-radius: 8px;
		color: #8b9790;
	}

		#copyright a {
			color: inherit;
		}

		#copyright .menu {
			margin: 0;
		}

			#copyright .menu li {
				border-color: #C1CAC5;
				border-width: 2px;
				line-height: 1em;
			}

#drygon-card {
  display: block;
  margin: 3em 0 3em 0;
}
#drygon {
  display: block;
}
